# .ebextensions/00-install-local-gems.config:
commands:

  # add rack 2.0.7 to $GEM_ROOT so puma can activate it instead of rack 1.6.8
  # use actual path not $GEM_ROOT because env vars are not available here
  # make sure puma and rack are not in app's Gemfile or there will be blood

  00_install_rack_207:
    command: gem install -i /opt/rubies/ruby-2.6.8/lib/ruby/gems/2.6.0 rack -v 2.0.7 
