<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"><strog>A2Z Educational Services Pvt Ltd</strog></li>
          <li class="p-name">78, FIRST FLOOR, MANAK VIHAR, DELHI - 110092</li>
          <li><a class="u-email" href="mailto:support@a2zespl.com">support@a2zespl.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list" style="display: none">
          <li><a href="https://github.com/"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username"></span></a></li>
          <li><a href="https://www.twitter.com/"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
              </svg> <span class="username"></span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>A2ZESPL is all about empowering not so privileged yet determined youth with the most powerful tool –
          the right education.</p>
      </div>
    </div>

  </div>

</footer>