<%= render 'mathjax' %>
<div style="padding: 8px">
  <% @flashcards.each do |flashcard| %>
    <p><%= flashcard[3] %></p>
    <p><%= raw(flashcard[2]) %></p>
    <p><%= raw(flashcard[1]) %></p>
    <hr>
  <% end %>
</div>
