script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.4.1.min.js" 
script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet" /
script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 

.container.mt-2
  form#notify-form role="form" method="POST" name="f1" action="https://www.neetprep.com/api/v1/job/importantNewsNotification"
    .form-group
      lable for="title" Title
      input#title.form-control type="text" placeholder="Message Title" name="title" required="true"
      .valid-feedback
        | Looks good!
    .form-group
      lable for="body" Body
      textarea#body.form-control type="text" placeholder="Long message" name="message" required="true"
      .valid-feedback
        | Looks good!
    .form-group
      label for="studentType" Send To
      select#studentType.form-control multiple="multiple" name="studentType" onchange="studentTypeChanged()"
        option AllPaid
        option AllNonPaid
        option Selected
    .form-group.imgUrlGroup
      lable for="imgUrl" Image URL
      input#imgUrl.form-control type="text" placeholder="https://www.youtube.com/image" name="imageUrl"
    .form-group
      label for="notify-type" Targret
      select#notify-type.form-control name="contextType" onchange="targetChanged()"
        option BuyCourse
        option LinkUrl
    .form-group.actionUrlGroup
      lable for="actionUrl" URL
      input#actionUrl.form-control type="text" placeholder="https://www.youtube.com/ydo4Fskedc" name="actionUrl"
    .form-group.courseSelectGroup
      lable for="courses-input" Course 
      input#courses-input.form-control list="courses" onchange="courseChanged()" /
      datalist#courses
        = @courses.each do |course|
          option value="#{course.id}" #{course.name}

    .form-group.userIdGroup
      lable for="title" User
      input#userId.form-control type="number" placeholder="User ID" name="userId" value="588025"
      
    button.btn.btn-primary.btn-block type="submit" Send

javascript:
  $(".actionUrlGroup").hide();
  $(".userIdGroup").hide();

  function targetChanged() {
    if ($("#notify-type").val() == "BuyCourse") {
      $(".actionUrlGroup").hide();
      $(".courseSelectGroup").show();
      $("#actionUrl").val("");
    } else if ($("#notify-type").val() == "LinkUrl") {
      $(".actionUrlGroup").show();
      $(".courseSelectGroup").hide();
      $("#courses-input").val("");
    }
  }

  function courseChanged() {
    const courseId = $("#courses-input").val();
    $("#actionUrl").val("https://www.neetprep.com/neet-course/" + courseId);
  }

  function studentTypeChanged() {
    if ($("#studentType").val().includes("Selected")) {
      $(".userIdGroup").show();
      var elements = document.getElementById("studentType").options;
      for(var i = 0; i < elements.length; i++) {
        if (elements[i].selected && elements[i].innerHTML != "Selected")
          elements[i].selected = false;
      }
    } else if (!$("#studentType").val().includes("Selected")) {
      $(".userIdGroup").hide();
      $(".userIdGroup").val("");
      var elements = document.getElementById("studentType").options;
      for(var i = 0; i < elements.length; i++) {
        if (elements[i].selected && elements[i].innerHTML == "Selected")
          elements[i].selected = false;
      }
    } else {
      $(".userIdGroup").hide();
      $(".userIdGroup").val("");
    }
  }

  $( "#notify-form" ).submit(function( event ) {
    event.preventDefault();
    const url = $( "#notify-form" ).attr("action");
    const sentTo = $("#studentType").val();
    $.each(sentTo, function (index, value) {
      $.ajax({
        type: "POST",
        url: url,
        data: {
          studentType: value,
          message: $("#body").val(),
          title: $("#title").val(),
          imageUrl: $("#imgUrl").val() || null,
          contextType: $("#notify-type").val() || null,
          actionUrl: $("#actionUrl").val() || null,
          courseId: $("#courses-input").val() || null,
          userId: $("#userId").val() || null
        }
      }).done (function (data) {
      });
    });
  });