<script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/tinymce.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/plugins/code/plugin.min.js'></script>
<style>
.mce-tinymce.mce-container.mce-panel {
  display: inline-block !important;
  width: auto !important;
}
.float-button{
	position:fixed;
	width: 280px;
	height:45px;
	top:150px;
	right:40px;
	background-color: red;
	color:#FFF;
	box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  cursor: pointer;
}
</style>
<div class="float-button" onclick="$('.wrs_tickContainer').hide();">
  Hide MathType Trial Info* <br>*Click after opening MathType Editor
</div>
