<script>
tinymce.PluginManager.add('youtubeIframe', function(editor) {
  // Add a button that opens a window
  editor.addButton('youtubeIframe', {
    text: 'Add Youtube Iframe',
    icon: false,
    onclick: function() {
      // Open window
      editor.windowManager.open({
        title: 'Youtube Iframe plugin',
        body: [
          {type: 'textbox', name: 'IframeURL', label: 'Iframe URL'}
        ],
        onsubmit: function(e) {
          var youtubeVideoEmbedUrl = "https://www.youtube.com/embed/" + e.data.IframeURL.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/embed\/|\/)([^\s&]+)/)[1] + "?rel=0";
          // Insert content when the window form is submitted
          editor.insertContent('<div class="embed-responsive embed-responsive-16by9"><iframe src="' + youtubeVideoEmbedUrl + '" width="100%" allowfullscreen></iframe></div>');
        }
      });
    }
  });

  return {
    getMetadata: function () {
      return  {
        name: "Example plugin",
        url: "http://exampleplugindocsurl.com"
      };
    }
  };
});
</script>
