<script>
tinymce.PluginManager.add('youtubeIframeAsync', function(editor) {
  // Add a button that opens a window
  editor.addButton('youtubeIframeAsync', {
    text: 'Add Youtube Iframe Async',
    icon: false,
    onclick: function() {
      // Open window
      editor.windowManager.open({
        title: 'Youtube Iframe Async plugin',
        body: [
          {type: 'textbox', name: 'IframeURL', label: 'Iframe URL'}
        ],
        onsubmit: function(e) {
          var youtubeVideoEmbedUrl = e.data.IframeURL.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/embed\/|\/)([^\s&]+)/)[1];
          // Insert content when the window form is submitted
          editor.insertContent('<div class="embed-responsive embed-responsive-16by9 youtube" data-embed="' + youtubeVideoEmbedUrl + '"><div class="play-button"></div></div>');
        }
      });
    }
  });

  return {
    getMetadata: function () {
      return  {
        name: "Example plugin",
        url: "http://exampleplugindocsurl.com"
      };
    }
  };
});
</script>
